.headerLogo > a {
    text-decoration: none;
    color: #000;
}

.headerLogo > a > h1 {
    cursor: pointer;
    font-size: 1.69vw;
}

.pageHeader {
    display: flex;
    height: 5vw;
    width: 100%;
    background: #EAEAEA;
}

.pageHeader > .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.pageHeader > .headerContent > #hamburgerCheckbox {
    display: none;
}

.pageHeader > .headerContent > .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    width: 3vw;
    height: 3vw;
}

.pageHeader > .headerContent > .hamburger > .hamburgerLine {
    width: 100%;
    height: 0.1vw;
    background: #000;
}

.pageHeader > .headerContent > nav {
    position: absolute;
    top: 0;
    right: -100%;
    transition: right 0.3s ease;
    overflow: hidden;
}

.pageHeader > .headerContent > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    list-style: none;
}

.pageHeader > .headerContent > nav > ul > li {
    margin: 0.8vw 0;
}

.pageHeader > .headerContent > nav > ul > li > a {
    color: #111;
    text-decoration: none;
    font-size: 0.9vw;
}

.pageHeader > .headerContent > #hamburgerCheckbox:checked ~ nav {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw;
    height: 100vh;
    width: 15vw;
    z-index: 1;
    background: #DEDEDE;
}

svg {
    margin-top: 1.2vw;
}

@media screen and (min-width: 1200px) {
    .pageHeader > .headerContent > .hamburger {
      display: none;
    }

    .pageHeader > .headerContent > nav {
      position: static;
    }

    .pageHeader > .headerContent > nav > ul {
      flex-direction: row;
    }

    .pageHeader > .headerContent > nav > ul > li {
      margin: 0 0.8vw;
    }

    .pageHeader > .headerContent > #hamburgerCheckbox:checked ~ nav {
      background: transparent;
    }
}