html, body {
  background: #E3E3D8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.cardWrapper {
  width: 15.4vw;
  height: 27.5vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 0.7vw;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.25s;
}

.cardWrapper:hover {
  transform: scale(1);
  box-shadow: 0.3vw 1.8vw 2.5vw #00000033;
}

.cardWrapper .cardMainContainer {
  width: 100%;
  height: 100%;
}

.cardWrapper .cardMainContainer .cardImage {
  height: 80%;
  width: 100%;
}

.cardWrapper .cardMainContainer .cardFooter {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}

.cardWrapper .cardMainContainer .cardFooter.clicked {
  transform: translateX(-50%);
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo {
  height: 100%;
  width: 50%;
  background: #F4F4F4;
  position: relative;
  float: left;
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo .cardDetails {
  padding: 1.1vw;
  padding-left: 1vw;
  float: left;
  text-align: center;
  width: 70%;
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo .cardCart {
  float: right;
  width: 30%;
  height: 100%;
  background: #F1F1F1;
  transition: background 0.5s;
  border-left: solid thin #0000001A;
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo .cardCart i {
  font-size: 380%;
  padding-left: 0.9vw;
  color: #254053;
  transition: transform 0.5s;
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo .cardCart:hover {
  background: #A6CDDE;
}

.cardWrapper .cardMainContainer .cardFooter .cardInfo .cardCart:hover i {
  transform: translateY(0.2vw);
  color: #00394B;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage {
  width: 50%;
  background: #A6CDDE;
  color: #FFF;
  float: right;
  height: 200%;
  overflow: hidden;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardDetails {
  padding: 0.9vw;
  padding-left: 0.6vw;
  float: right;
  text-align: center;
  width: 70%;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardCartMessageCheck {
  width: 30%;
  float: left;
  transition: transform 0.5s;
  border-right: solid thin #FFFFFF4D;
  height: 50%;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardCartMessageCheck i {
  font-size: 380%; 
  padding: 1.1vw;
  color: #FFF;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardRemove {
  width: 30%;
  clear: both;
  border-right: solid thin #FFFFFF4D;
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardRemove:hover {
  background: #9B2847;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardRemove:hover i {
  transform: translateY(0.25vw);
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage .cardRemove i {
  transition: transform 0.5s;
  font-size: 360%;
  padding: 1.1vw;
  color: #FFF;
}

.cardWrapper .cardMainContainer .cardFooter .cardCartMessage:hover .cardRemove, .cardWrapper .cardMainContainer .cardFooter .cardCartMessage:hover .cardCartMessageCheck {
  transform: translateY(-100%);
}

.cardFooter {
  font-size: 0.7vw;
}

.cardSpecsContents {
  font-size: 0.9vw;
}

.cardWrapper .cardSpecs {
  z-index: 2;
  background: #8C46C5;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: -3.5vw;
  right: -3.5vw;
  border-radius: 0 0 15vw 15vw;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.cardWrapper .cardSpecs .cardIcon {
  position: absolute;
  right: 4.1vw;
  top: 3.65vw;
  color: #fff;
  opacity: 1;
  font-size: 1.5vw;
}

.cardWrapper .cardSpecs:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.cardWrapper .cardSpecs:hover .cardIcon {
  opacity: 0;
  right: 0.75vw;
  top: 0.75vw;
}

.cardWrapper .cardSpecs:hover .cardSpecsContents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.cardWrapper .cardSpecs .cardSpecsContents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.cardWrapper .cardSpecs .cardSpecsContents table {
  text-align: left;
  width: 100%;
}

.cardWrapper .cardSpecs .cardSpecsContents table td {
  padding-bottom: 0.75vw;
}

.cardWrapper .cardSpecs .cardSpecsContents h1, .cardWrapper .cardSpecs .cardSpecsContents p, .cardWrapper .cardSpecs .cardSpecsContents table {
  color: #FFF;
}

svg {
  margin-top: 1.2vw;
}

.cardIcon svg {
  margin-top: 0.6vw;
}